In [1]:
import pandas as pd

In [6]:
# DataFrame - coverts given  data into table format
# for a single list of data ,it creates a table with 'n' no.rows equal to the no. of elements in the list

dict1 = {
   " name ":['Sana','Samreen','Ayesha','Asma'],
   " marks" : [90,92,95,98],
   "city": ['hyd','vizag','Nizambad','soudi']
}

df=pd.DataFrame(dict1)
print(df)
# to_csv is a function used to to create a csv file in a excel sheet
df.to_csv('friends_data.csv', index=False)
# pd.read_csv(dict1) - reads data from a csv file

     name    marks      city
0     Sana      90       hyd
1  Samreen      92     vizag
2   Ayesha      95  Nizambad
3     Asma      98     soudi

In [12]:
#  creating a dataframe containing random data

import numpy as np

df = pd.DataFrame(np.random.rand(100,5))
print(df)
# head()- prints first 5 rows of the DataFrame
print(df.head())
# tail()- prints last 5 rows of the DataFrame
print(df.tail())
type(df)

           0         1         2         3         4
0   0.022741  0.279173  0.617616  0.749551  0.542595
1   0.513478  0.365039  0.861026  0.798621  0.863343
2   0.230006  0.489233  0.560595  0.902478  0.795367
3   0.675426  0.070074  0.449433  0.478537  0.791854
4   0.950150  0.903018  0.730840  0.313698  0.322653
..       ...       ...       ...       ...       ...
95  0.736372  0.189759  0.561965  0.144795  0.760730
96  0.221673  0.191932  0.049305  0.738588  0.581480
97  0.493996  0.918449  0.716401  0.261657  0.660254
98  0.717669  0.534133  0.886077  0.126240  0.697192
99  0.824745  0.115511  0.233402  0.015778  0.424337

[100 rows x 5 columns]
          0         1         2         3         4
0  0.022741  0.279173  0.617616  0.749551  0.542595
1  0.513478  0.365039  0.861026  0.798621  0.863343
2  0.230006  0.489233  0.560595  0.902478  0.795367
3  0.675426  0.070074  0.449433  0.478537  0.791854
4  0.950150  0.903018  0.730840  0.313698  0.322653
           0         1         2         3         4
95  0.736372  0.189759  0.561965  0.144795  0.760730
96  0.221673  0.191932  0.049305  0.738588  0.581480
97  0.493996  0.918449  0.716401  0.261657  0.660254
98  0.717669  0.534133  0.886077  0.126240  0.697192
99  0.824745  0.115511  0.233402  0.015778  0.424337

pandas.core.frame.DataFrame

In [14]:
# series - it is defined as a single column or a 1-D list , it can contain data of different datatypes

s = pd.Series([1, 3, 5, np.nan, 6, 8,"sa"])
print(s)

0      1
1      3
2      5
3    NaN
4      6
5      8
6     sa
dtype: object

In [15]:
# describe - it gives a brief statistical analysis of the data present in a table

df.describe()

                0           1           2           3           4
count  100.000000  100.000000  100.000000  100.000000  100.000000
mean     0.489285    0.443806    0.520364    0.484484    0.535416
std      0.281934    0.286406    0.286155    0.283657    0.268544
min      0.017247    0.000088    0.013800    0.015778    0.018899
25%      0.253304    0.216931    0.273991    0.255372    0.311209
50%      0.499326    0.380211    0.561280    0.470740    0.529465
75%      0.724847    0.673312    0.755730    0.734133    0.774261
max      0.999239    0.969265    0.986966    0.994962    0.998411

In [18]:
# to_numpy - converts pandas DataFrame into numpy arrrays/lists

df.to_numpy()

array([[2.27408564e-02, 2.79173226e-01, 6.17616432e-01, 7.49551135e-01,
        5.42595289e-01],
       [5.13478462e-01, 3.65038787e-01, 8.61026425e-01, 7.98621329e-01,
        8.63342672e-01],
       [2.30005753e-01, 4.89232887e-01, 5.60595145e-01, 9.02478102e-01,
        7.95366561e-01],
       [6.75425520e-01, 7.00740765e-02, 4.49432696e-01, 4.78536565e-01,
        7.91854030e-01],
       [9.50150216e-01, 9.03017823e-01, 7.30839923e-01, 3.13697814e-01,
        3.22653488e-01],
       [7.93947661e-01, 1.12973755e-01, 6.51893729e-01, 5.04613508e-01,
        3.42109587e-01],
       [1.77675943e-01, 2.00111160e-01, 3.39464070e-01, 1.98895052e-01,
        5.31254123e-01],
       [1.00972633e-01, 3.44940136e-01, 4.61173375e-01, 3.83291696e-01,
        3.63530061e-01],
       [7.75575253e-01, 3.11412858e-01, 9.17585006e-01, 6.16022685e-01,
        8.24047929e-01],
       [7.87975197e-01, 3.86966910e-01, 9.11013202e-01, 5.52151166e-01,
        2.27478163e-01],
       [5.70351257e-02, 4.00341647e-01, 4.72170516e-01, 2.89740471e-01,
        1.40683030e-01],
       [3.70259255e-01, 8.53550774e-01, 9.70691305e-01, 6.37474306e-02,
        4.50103916e-01],
       [3.51462167e-01, 2.31886658e-01, 3.77240974e-01, 6.51409308e-01,
        8.60959148e-01],
       [4.56245274e-01, 5.75211782e-02, 5.66917386e-01, 3.90422156e-01,
        2.64638687e-02],
       [4.22249910e-01, 5.82201904e-01, 8.70896062e-01, 3.68864420e-01,
        7.80795408e-01],
       [5.41905857e-02, 6.97054887e-01, 1.38004831e-02, 8.21854486e-01,
        8.07108913e-01],
       [3.13044242e-01, 3.51518616e-01, 2.29034544e-01, 5.29246177e-01,
        3.91686491e-01],
       [8.26190826e-01, 4.92247375e-01, 3.87283228e-01, 9.17092448e-01,
        4.09067693e-01],
       [7.57126896e-01, 4.47708013e-01, 6.38270874e-01, 6.85660869e-01,
        4.42722931e-01],
       [4.24402728e-01, 8.16869020e-01, 7.82647988e-01, 4.60112417e-01,
        7.45717062e-01],
       [3.87964258e-01, 1.29373002e-02, 8.77270052e-02, 8.05752423e-02,
        1.94174512e-01],
       [1.34127102e-01, 6.25311085e-01, 6.52912152e-01, 7.95348095e-01,
        1.47744845e-01],
       [9.97230115e-01, 2.05185350e-01, 1.16749793e-01, 1.12751445e-01,
        8.22371052e-01],
       [7.40669594e-01, 5.45334442e-01, 4.47146507e-02, 3.03141746e-01,
        9.27657028e-01],
       [6.44694562e-01, 9.02762616e-01, 3.49506910e-01, 4.81741600e-01,
        6.36003498e-01],
       [5.15768340e-01, 8.31592521e-01, 8.20450979e-01, 1.78707779e-01,
        2.12726430e-01],
       [6.59525744e-01, 3.70155889e-01, 9.45668881e-02, 6.50413982e-01,
        4.36996592e-01],
       [9.65367733e-02, 6.64523925e-01, 6.49433770e-01, 9.13527829e-01,
        7.59043446e-01],
       [5.45275917e-01, 7.96189215e-01, 7.17990558e-01, 5.55506888e-01,
        2.14028035e-01],
       [9.54531331e-01, 5.13991715e-01, 9.49592645e-01, 1.66723815e-01,
        8.96712099e-01],
       [5.38395329e-01, 7.97320728e-03, 4.29696646e-01, 1.52093977e-01,
        4.44704041e-01],
       [8.48543795e-01, 4.80187993e-01, 1.29209485e-01, 6.95664678e-01,
        8.28388480e-01],
       [1.33714078e-01, 7.50125554e-02, 3.41598769e-01, 7.32648269e-01,
        7.69492773e-01],
       [1.82710339e-01, 9.14281744e-01, 9.42491407e-02, 5.80643260e-01,
        9.98411375e-01],
       [7.21004778e-01, 7.84974416e-01, 1.98813193e-01, 7.53844567e-01,
        4.85716855e-01],
       [5.65701471e-01, 2.42021194e-01, 9.34239836e-01, 9.53206260e-01,
        8.17855403e-01],
       [6.73839662e-01, 9.35203157e-02, 3.69235739e-01, 4.05627947e-01,
        1.88985413e-02],
       [4.96534453e-01, 8.27386153e-01, 9.02137151e-01, 7.94463450e-02,
        7.13832691e-01],
       [7.44538874e-01, 5.93932629e-01, 6.64971588e-01, 4.46769932e-01,
        6.89581145e-01],
       [5.23084065e-01, 2.43108700e-01, 4.19675888e-01, 8.16533894e-01,
        7.82059311e-01],
       [8.73209520e-01, 6.00703741e-01, 1.32410484e-01, 2.79115457e-01,
        7.91163720e-01],
       [3.67873193e-01, 6.00965085e-01, 6.05000407e-01, 4.33121712e-01,
        2.67072714e-01],
       [2.54608695e-01, 6.09522930e-01, 8.16748127e-01, 4.32997743e-01,
        8.76514913e-01],
       [4.38751938e-01, 1.81279894e-01, 6.84975310e-01, 7.91144868e-01,
        1.35734424e-01],
       [6.66623119e-02, 4.25105856e-01, 6.60884417e-01, 7.96622892e-01,
        4.97342659e-01],
       [6.31030997e-01, 1.45105356e-01, 6.24779043e-02, 8.75229974e-02,
        7.36288955e-02],
       [5.40450244e-01, 7.97252780e-01, 7.76601815e-01, 2.88367804e-02,
        5.32204870e-01],
       [3.29748803e-01, 5.49042979e-01, 2.23711955e-01, 5.06529367e-01,
        7.72083233e-01],
       [3.44732408e-01, 7.39865306e-01, 7.40319082e-01, 4.27230808e-01,
        9.92703028e-01],
       [6.21179283e-01, 6.12788479e-01, 8.35056451e-01, 2.68918425e-01,
        9.74832612e-01],
       [4.17473671e-01, 2.86563969e-01, 2.06360462e-01, 8.25938254e-02,
        3.92073389e-01],
       [3.55006999e-01, 2.66275217e-01, 9.65141405e-01, 2.64351101e-01,
        5.04212195e-01],
       [8.81359405e-01, 4.14598748e-02, 9.13740046e-02, 9.94962090e-01,
        2.38508930e-01],
       [2.36973873e-01, 2.21866034e-01, 6.99365062e-01, 8.79915532e-01,
        2.42405104e-01],
       [2.51076673e-01, 3.49595629e-01, 1.88513679e-02, 6.10929820e-01,
        9.41649430e-01],
       [8.30720005e-01, 2.23790817e-01, 3.54607400e-01, 1.30909453e-01,
        5.21197089e-01],
       [7.80426383e-01, 3.12298820e-01, 3.15239241e-01, 4.26985327e-01,
        6.77199073e-01],
       [7.23302063e-02, 8.91514487e-01, 1.55893226e-01, 8.45189977e-01,
        5.06328307e-01],
       [2.53938222e-01, 1.06746640e-01, 8.67310935e-02, 3.50210348e-01,
        7.22149877e-01],
       [8.94095475e-01, 2.90314346e-01, 7.48772678e-01, 7.28145691e-01,
        9.17123637e-01],
       [3.57833299e-02, 6.10950261e-01, 5.90438047e-01, 2.97947817e-01,
        7.34610806e-01],
       [2.59794169e-01, 3.10321680e-01, 2.86308795e-02, 1.94170436e-01,
        5.50019905e-01],
       [5.56780061e-01, 8.86837807e-01, 6.40643249e-01, 9.26458900e-01,
        6.35718585e-01],
       [5.49321060e-01, 2.80412642e-01, 1.57667257e-01, 2.21838460e-01,
        4.64120554e-01],
       [2.51401829e-01, 3.29423429e-01, 2.59967176e-01, 6.91514186e-01,
        2.45736302e-01],
       [3.98540202e-01, 9.32351705e-01, 4.42739286e-01, 7.09332349e-01,
        8.70576846e-01],
       [5.22670172e-01, 6.53738424e-01, 9.50978849e-01, 4.61991616e-01,
        3.58690342e-01],
       [9.99239390e-01, 3.05706707e-01, 4.83334163e-01, 7.96138207e-01,
        8.85614886e-01],
       [4.17748613e-01, 8.80191626e-05, 7.92638344e-01, 6.29240686e-02,
        8.30157413e-01],
       [8.45377240e-01, 3.59276210e-01, 9.09537090e-01, 3.32107191e-01,
        4.23498232e-01],
       [3.46296403e-01, 9.26501735e-01, 5.93944642e-01, 2.53754854e-01,
        2.52519213e-01],
       [2.21287601e-01, 8.41519939e-01, 9.36066059e-01, 9.46114205e-01,
        7.61899985e-01],
       [5.48801177e-01, 1.88742835e-01, 8.72765119e-01, 4.77073505e-01,
        1.85395330e-01],
       [8.27069760e-02, 3.83653474e-04, 1.70121150e-01, 8.86207402e-01,
        5.27675677e-01],
       [3.23812090e-01, 7.91770810e-01, 4.19418492e-01, 4.35462439e-02,
        4.05680215e-01],
       [1.18917805e-01, 3.32707389e-01, 2.52075436e-01, 3.78905442e-01,
        7.30089438e-01],
       [4.78842964e-01, 4.37075112e-01, 7.45629298e-01, 5.22745787e-01,
        6.28743491e-01],
       [2.78111946e-01, 4.72787936e-01, 5.22555654e-01, 6.98529288e-02,
        5.81173404e-01],
       [7.15167491e-01, 5.46964782e-01, 5.96522295e-01, 6.64027419e-01,
        8.91742469e-01],
       [5.02116643e-01, 6.65397788e-01, 7.95037469e-01, 9.10312473e-01,
        1.50040415e-01],
       [7.83456377e-02, 1.36005575e-01, 5.17783843e-01, 5.01450430e-01,
        4.72010093e-01],
       [9.37089895e-01, 9.01172521e-01, 2.01402230e-01, 6.31719895e-01,
        1.64809082e-01],
       [5.63402766e-01, 2.16408096e-02, 3.58349023e-01, 6.03492477e-01,
        1.78319523e-01],
       [7.09372996e-02, 3.73454928e-01, 2.78666059e-01, 8.59986389e-01,
        2.74076275e-01],
       [9.68498346e-01, 7.12570916e-01, 3.29949991e-01, 2.23461594e-01,
        3.29697293e-01],
       [9.42357945e-01, 2.52319545e-01, 6.16841294e-01, 4.64407304e-01,
        2.38849926e-01],
       [6.92291180e-01, 1.22405978e-02, 8.26246815e-01, 1.29469056e-01,
        8.03834290e-01],
       [5.88866032e-01, 9.69264702e-01, 5.16988933e-01, 8.65287641e-01,
        5.02373316e-01],
       [1.72469741e-02, 8.12534304e-01, 7.92468576e-01, 9.43663364e-01,
        6.39841598e-02],
       [1.10424734e-01, 7.56582778e-01, 4.83556333e-01, 2.04360118e-01,
        3.00817804e-02],
       [8.24416810e-01, 7.29864247e-01, 8.49298053e-01, 5.91716942e-01,
        3.83708081e-01],
       [7.15065160e-02, 5.26787570e-02, 6.64818359e-01, 2.55911370e-01,
        6.22790520e-01],
       [6.55108745e-01, 5.88851572e-02, 9.86965688e-01, 8.23890294e-01,
        2.76877395e-01],
       [4.71183902e-01, 2.20846796e-01, 6.58762219e-01, 2.69842415e-01,
        2.03931050e-01],
       [8.83417448e-01, 1.71552826e-01, 3.88807892e-01, 4.85090205e-02,
        7.26516464e-01],
       [7.36372459e-01, 1.89758834e-01, 5.61965207e-01, 1.44794888e-01,
        7.60730007e-01],
       [2.21672983e-01, 1.91931674e-01, 4.93054116e-02, 7.38588404e-01,
        5.81479525e-01],
       [4.93996064e-01, 9.18449049e-01, 7.16401052e-01, 2.61656560e-01,
        6.60253797e-01],
       [7.17668778e-01, 5.34133054e-01, 8.86076539e-01, 1.26240479e-01,
        6.97192367e-01],
       [8.24744989e-01, 1.15510899e-01, 2.33401550e-01, 1.57780351e-02,
        4.24337094e-01]])

In [19]:
# T - transpose a DataFrame / matrix

df.T

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.022741,0.513478,0.230006,0.675426,0.950150,0.793948,0.177676,0.100973,0.775575,0.787975,...,0.824417,0.071507,0.655109,0.471184,0.883417,0.736372,0.221673,0.493996,0.717669,0.824745
1,0.279173,0.365039,0.489233,0.070074,0.903018,0.112974,0.200111,0.344940,0.311413,0.386967,...,0.729864,0.052679,0.058885,0.220847,0.171553,0.189759,0.191932,0.918449,0.534133,0.115511
2,0.617616,0.861026,0.560595,0.449433,0.730840,0.651894,0.339464,0.461173,0.917585,0.911013,...,0.849298,0.664818,0.986966,0.658762,0.388808,0.561965,0.049305,0.716401,0.886077,0.233402
3,0.749551,0.798621,0.902478,0.478537,0.313698,0.504614,0.198895,0.383292,0.616023,0.552151,...,0.591717,0.255911,0.823890,0.269842,0.048509,0.144795,0.738588,0.261657,0.126240,0.015778
4,0.542595,0.863343,0.795367,0.791854,0.322653,0.342110,0.531254,0.363530,0.824048,0.227478,...,0.383708,0.622791,0.276877,0.203931,0.726516,0.760730,0.581480,0.660254,0.697192,0.424337

In [37]:
# modifying column names

table = pd.DataFrame(np.random.rand(5,5))
table
table.columns=["A","B","C","D","E"]
table

          A         B         C         D         E
0  0.080511  0.733464  0.614580  0.381845  0.874368
1  0.892151  0.211932  0.524993  0.337024  0.677330
2  0.133496  0.415437  0.922360  0.886158  0.261073
3  0.828804  0.304306  0.050235  0.567156  0.290116
4  0.485849  0.311209  0.805952  0.747681  0.194134

In [48]:
# modifying values in dataframe using "loc"
new_table = table.copy()
new_table.loc[0,"A"] = 1234
new_table
new_table.pop(1)
new_table

             A           B         C         D         E  (1, 1)
0  1234.000000    0.733464  0.614580  0.381845  0.874368     100
1     0.892151  100.000000  0.524993  0.337024  0.677330     100
2     0.133496    0.415437  0.922360  0.886158  0.261073     100
3     0.828804    0.304306  0.050235  0.567156  0.290116     100
4     0.485849    0.311209  0.805952  0.747681  0.194134     100

In [57]:
# acessing rows and columns in a table using "iloc"
table = pd.DataFrame(np.random.rand(5,5))
newTable2 = table.copy()
newTable2.iloc[0,3]
print(newTable2)

          0         1         2         3         4
0  0.977884  0.765416  0.361007  0.635383  0.543660
1  0.375727  0.863509  0.299859  0.591964  0.368341
2  0.960253  0.829248  0.642949  0.235059  0.943615
3  0.028879  0.665534  0.469678  0.741954  0.784876
4  0.020916  0.385555  0.096551  0.301845  0.340808

In [29]:
# sort_index() - sorts index in the table/dataframe in either ascending or descending order based on the instructions
head=df.head()
head.sort_index(axis=0,ascending=False)
head.sort_index(axis=1,ascending=False)

          4         3         2         1         0
0  0.542595  0.749551  0.617616  0.279173  0.022741
1  0.863343  0.798621  0.861026  0.365039  0.513478
2  0.795367  0.902478  0.560595  0.489233  0.230006
3  0.791854  0.478537  0.449433  0.070074  0.675426
4  0.322653  0.313698  0.730840  0.903018  0.950150

In [63]:
import pandas as pd

fruits = {"Apples": 30 , "Banana": 21}
table = pd.DataFrame(fruits, index=[0])
print(table)

   Apples  Banana
0      30      21